.card-item {

  &__preview {
    margin-bottom: 11px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.01em;

    margin-bottom: 22px;
  }

  &__switcher {
    margin-bottom: 17px;
    padding: 7px 5px;

    background-color: #F3F3F3;
    border-radius: 10px;
  }

  &__dough {
    display: flex;
    margin-bottom: 7px;

    li {
      flex: 1;
      margin-right: 5px;
      padding: 7px 0;

      font-weight: 700;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.015em;   
      color: #2C2C2C;

      &.active {
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
      }

      &:hover {
        cursor: pointer;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__size {
    display: flex;

    li {
      flex: 1;
      margin-right: 5px;
      padding: 7px 0;
  
      font-weight: 700;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.015em;
      color: #2C2C2C;
  
      &.active {
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
      }
  
      &:hover {
        cursor: pointer;
      }
  
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    font-weight: 700;
    font-size: 22px; 
    letter-spacing: 0.015em;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 28px;

    border: 1px solid #EB5A1E;
    border-radius: 30px;
    transition: background-color .2s ease-in-out;

    &:hover {
      background-color: #FE5F1E;
      transition: background-color .2s ease-in-out;

      .card-item__btn-text {
        color: #fff;
        transition: color .2s ease-in-out;
      }

      .card-item__btn-icon {
        background-color: #fff;
        transition: background-color .2s ease-in-out;

        &::after {
          background-color: #fff;
          transition: background-color .2s ease-in-out;
        }
      }
    }

    &-icon {
      position: relative;
      width: 12px;
      height: 3px;
      margin-right: 8px;

      background-color: #EB5A1E;
      border-radius: 30px;
      transition: background-color .2s ease-in-out;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 3px;

        background-color: #EB5A1E;
        border-radius: 30px;
        transform: rotate(90deg);
        transition: background-color .2s ease-in-out;
      }
    }

    &-text {
      font-weight: 700;
      color: #EB5A1E;
      transition: color .2s ease-in-out;
    }
  }
}